/* General */
* {
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: 100vh;
  padding-bottom: 100px;
}

header {
  background-color: var(--bs-body-bg);
  border-bottom: 1px solid var(--bs-gray-500);
}

.row {
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.btn-primary {
  background-color: var(--bs-orange) !important;
  border: 2px solid var(--bs-orange) !important;
  color: var(--bs-white) !important;
}

.btn-primary:hover {
  background-color: var(--bs-danger) !important;
  border: 2px solid var(--bs-danger) !important;
}

/* navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--bs-body-bg);
  padding: 3px 6px;
}

.container-fluid a {
  color: var(--bs-gray-600);
}

.container-fluid a:hover {
  color: var(--bs-orange);
}

/* Search Container */
#search-container {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  padding: 50px;
  text-align: center;
}

#search-container h1 {
  color: var(--bs-white);
  margin-bottom: 30px;
  font-weight: 900;
}

#search-container form {
  width: 50%;
  margin: 0 auto;
}

/* Events List */
#events-container {
  padding: 50px;
}

#events-container h2 {
  margin-bottom: 10px;
}

#events-container .subtitle {
  color: var(--bs-gray-600);
  margin-bottom: 30px;
}

#cards-container {
  display: flex;
}

#events-container .card {
  flex: 1 1 24%;
  max-width: 25%;
  border-radius: 10px;
  padding: 0;
  margin: .5%;
}

#events-container img {
  max-height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card .card-date {
  color: var(--bs-gray-600);
}

.card .card-title {
  margin-bottom: 30px;
  color: var(--bs-gray-900);
  font-weight: 600;
}

.card-participants {
  font-size: 14px;
  color: var(--bs-gray-600);
}

/* Event Create Page */
#event-create-container {
  padding: 30px;
  ;
}

#event-create-container label {
  font-weight: bold;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea {
  font-size: 12px;

}

#event-create-container input,
#event-create-container select,
#event-create-container textarea  {
  margin-bottom: 10px;
}

/* footer */
footer {
  text-align: center;
  background-color: var(--bs-gray-700);
  color: var(--bs-white);
  padding: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  margin-bottom: 0;
}